.link {
    margin: 30px;
    color: black;
    font-size: 28px;
    text-decoration: none;
    cursor: pointer;
}

.link:hover {
    color: brown;
    text-decoration: underline;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}